<mat-card>

  <mat-card-title>
    Perfil do Usuário
  </mat-card-title>

  <mat-card-content>

    <p><strong>Nome:</strong> Fernanda Almeida</p>

    <p><strong>Email:</strong> fernanda&#64;email.com</p>

    <p><strong>Telefone:</strong> (43) 99999-9999</p>

    <p><strong>LinkedIn:</strong> linkedin.com/in/fernanda</p>

    <p><strong>GitHub:</strong> github.com/fernandacanesin</p>

    <p>
      <strong>Resumo profissional:</strong><br>
      Profissional em transição de carreira para tecnologia,
      com experiência em gestão, processos e análise de dados.
    </p>

  </mat-card-content>

</mat-card>