@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.mat-mdc-toolbar {
  background-color: #9c27b0 !important;
  color: white !important;
}