<mat-toolbar color="primary">
  SSOT Manager
</mat-toolbar>

<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened>

    <mat-nav-list>

      <a mat-list-item routerLink="/usuarios">
        Usuários
      </a>

      <a mat-list-item routerLink="/formacao">
        Formação Acadêmica
      </a>

      <a mat-list-item routerLink="/experiencia">
        Experiência Profissional
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>